@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.custom-min-height {
  min-height: 80vh;
}

select {
  height: 100%;
}

.h-128 {
  height: 32rem;
}

.overflow-on {
  overflow: auto;
}

.right-custom {
  right: 22rem;
}

.bottom-custom {
  bottom: 11rem;
}
